body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 51%
  );
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.board-pad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.display-pad {
  display: flex;
  justify-content: center;
  align-items: center;
}

.value-pad {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  width: 20px;
  height: 20px;
  background-color: gainsboro;
  margin-left: 5px;
  margin-bottom: 10px;
  border-radius: 100%;
}

.pad {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  font-size: 24px;
}

.success {
  text-transform: capitalize;
}

.error {
  text-transform: capitalize;
  color: red;
}

.pad:nth-last-child(1) {
  grid-column: 2 / span 2;
}
